.app-container {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: auto;
  width: 80%;
  background-color: white;
  margin-top: 5%;
  min-width: 650px;
  padding-bottom: 54px;
  background-color: orange;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 54px;
  background : transparent
}